body
    {
    background-color: #f9f9f9;
    } /* общий фон сайта */
.A4
    {
      width: 1060px;   /* ширина сайта*/
      height: 100%; /* высота сайта*/
      padding: 50px 45px 0px 45px; /* внутренние отступы сайта верх, право, низ, лево */
      margin: 0px auto 0px auto;  /* выравнивание по центру */
      box-shadow: 0px 0px 10px gray; /* небольшая тень для объемности */
      background-color: white;  /* цвет фона в блоке Листа А4.*/
      font-family: Tahoma;
      font-size: 14px;

    }
.shadow  /* тень вокруг картинки */
    {
      box-shadow: 0px 0px 10px gray;
      float: right; /* Выравнивание по правому краю */
      margin: 0 0 0 0; /* Отступы вокруг фотографии */
    }

.Sitename
    {
       font-family: Tahoma;
       font-size: 40px;
    }
/* ______________________________________________________________________________________________ */
.horiz_menu
    {    /* блок верхнего горизонтального меню */
      display: inline-block;
      width: 100%;
      border: 1px solid #222;
      padding: 0px;
      background: #5b5b5b;
    }
.horiz_jach
    {   /* метод отображения - таблица в строку, ширина и цвет ячейки верхнего меню в стоке */
      display: table-cell;
      width: 150px;
      background: #5b5b5b;
    }


    .h_a
    {       /* ТЕКСТ/контент в ячейке верхнего меню */
      display: block;
      color: white;
      text-decoration: none;
      padding: 10px 1px;
      text-align: center;
    }
.horiz_jach .h_a:hover
    {   /* Цвет ячейки и текста при наведении мышки */
      background-color: #454545;
      color: white;
      border-left: 1px solid #838383;
      border-right: 1px solid #838383;
    }
/* ______________________________________________________________________________________________ */

.vert_menu
    { /* блок вертикального меню */
      float: left;
      display: table;
      width: 240px;
      padding: 0px;
    }

.vert_jach
    {
      display: table;
      width: 240px;
      border: 1px solid #c8c8c8;
      background: #ffffff;
    }

.v_a
    {
      display: block;
      color: black;
      font size="14";
      text-decoration: none;
      text-align: left;
      padding: 10px 1px;
      padding-left: 30px;
    }

.vert_jach .v_a:hover
    {
      background-color: #f9f9f9;
      color: black;
      border: 1px solid #c8c8c8;
      padding-left: 50px;
    }
/* ______________________________________________________________________________________________ */

.horiz_menudown
    {    /* блок нижнего горизонтального меню */

      display: inline-block;
      width: 100%; /* штрина меню */
      border: 0px solid #222; /* цвет обводки всего меню */
      padding: 0px;
    }
.horiz_jachdown
    {
      display: table-cell; /* метод отображения по типу - таблица в строку, ширина и цвет ячейки нижнего меню */
      width: 150px;  /* ширина каждой ячейки */
      background: #c8c8c8; /* цвет заливки ячеек в стоковом состоянии */
    }

    .big
    {
      width: 460px;
      text-align: right;
      padding-right: 40px;
    }

.h_adown
    {       /* ТЕКСТ/контент в ячейке нижнего меню */
      display: block; /* рисуем ячейку внутри текст */
      color: black; /* цвет текста в стоке */
      text-decoration: none;
      padding: 10px 1px;
      text-align: center; /* выравниваем текст по центру ячейки */
    }
.t_down
    {       /* ячейка копирайта без ссылки */
      display: block; /* рисуем ячейку внутри текст . */
      color: black; /* цвет текста в стоке */
      text-decoration: none;
      padding: 10px 1px;
      text-align: center; /* выравниваем текст по центру ячейки */
    }

.horiz_jachdown .h_adown:hover /* ячейки со ссылками при наведении*/
    {   /* Цвет ячейки и текста при наведении мышки */
      background-color: #c8c8c8; /* Фон */
      color: black; /*Текст */
      text-decoration: underline;
/*      border-left: 1px solid #000000;
      border-right: 1px solid #000000;*/
      }
.horiz_jachdownt .t_down:hover /* ОСОБАЯ ячейка с Копирайтом ПРИ НАВЕДЕНИИ ! */
    {
      background-color: #c8c8c8; /* цвет ячейки при наведении */
      color: black; /* цвет текста при наведении */
/*      border-left: 1px solid #838383;
      border-right: 1px solid #838383;*/
    }
/* _____________________________________________________________________________________________ */
/* ______________________________________________________________________________________________ */
.centr
    {
      text-indent: 0px;
      text-align:  center;
    }
.left
    {
      text-indent: 0px;
      text-allign: left;
    }
/* ______________________________________________________________________________________________ */
.text_rigt
    {
      float: right;
      text-align: left;
      padding-left: 280px;
      padding-bottom: 100px;
    }
.moove_down
    {
      float:none;
      text-align: center;
    }
/* ______________________________________________E_N_D___________________________________________ */
   a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: black;
   } 